/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

.comic-content {
  overflow: hidden;
  width: 310px;
  height: 420px;
  background: #f0f0f0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.chapter-content {
  overflow: auto;
  height: calc(100% - 46px);
  z-index: 50;
}

.chapter-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    border-radius: 4px;
    border-bottom: 1px solid orange;
    padding: 8px;

    &:hover {
      background-color: orange;
      color: white;
    }
  }
}

.text-white {
  background-color: rgba(#fff, 0.15);
  border-radius: 40px;
  padding: 12px;
  font-size: 32px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.comic-info {
  background-color: rgba(#000000, 0.5);
  font-weight: bold;
  color: yellow;
  padding: 40px;
  border-radius: 40px;
  width: 720px;
  font-size: 100px;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(#000000, 0.5);
  font-weight: bold;
  color: yellow;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}

.white-button {
  position: fixed;
  background-color: rgba(#000000, 0.5);
  font-weight: bold;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}

.box-center {
  position: fixed;
  max-width: 90vw;
  width: max-content;
  background-color: rgba(#000000, 0.5);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate-a {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.rotate-d {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.rotate-w {
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.rotate-s {
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .rotate-a,
  .rotate-d {
    display: none;
  }

  .show-mb {
    display: block;
  }

  .hide-mb {
    display: none;
  }
}
